* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
}
.closed-side {
    height: 93vh;
    width: 1vw;
    position:relative;
    background-color:#3887B4;
    border-right: 1px solid rgba(175, 175, 175,0.5);
    cursor:pointer;
}
.closed-side:hover {
    filter : brightness(1.1);
}